.well
  %div
    %img{:src => '/assets/logo.gif', :alt => ''}
  %h1 Charleston 
  %h2.offset1 
    %span{:style => 'color:#800000;'} 
      Ruby
  %h2 Users
  %h2.offset1 
    %span{:style => 'color:#800000;'} 
      Group
