.span-one-third
  = render 'shared/sidebar'

.span9
  .alert-message.warning
    %h2 Home
  .noisy{:style => 'padding:10px;border: 1px solid rgba(0,0,0,.6);background: rgba(0,0,0,.5);-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;'}
    %h4{:style => 'color: white;line-height: 1.4em;letter-spacing: .1em;'}
      We have regular meetings on the second Thursday of each month. Meetings are at the offices of Jack Russell Software, 1067 Cliffwood Drive, Mount Pleasant, SC 29464
      (
      %a{:href => "http://maps.google.com/maps?q=1067+Cliffwood+Drive,+Mount+Pleasant,+SC+29464"} MAP
      ), at 6:30pm. The entrance is around at the back of the building. Look for signs.

.span9
  .span6
    %h5
      Ongoing agenda items include:
      %ul
        %li Upcoming announcements
        %li A presentation about some Ruby or Ruby-related technology
        %li Open source contribution
        %li Promotion of Ruby locally
        %li Development of www.charlestonruby.org and our other projects
        %li General discussion
      There is no charge, and meetings are informal.
  .span8
    %h5
      Our code is at:
      = succeed "." do
        %a{:href => "http://github.com/chsruby"} github.com/charlestonrb
    %h5
      Mailing list:
      %a{:href => "http://lists.charlestonruby.org/mailman/listinfo/discuss"} http://lists.charlestonruby.org/mailman/listinfo/discuss

