%p
  We have regular meetings on the second Thursday of each month. Meetings are at the offices of Jack Russell Software, 1067 Cliffwood Drive, Mount Pleasant, SC 29464
  (
  %a{:href => "http://maps.google.com/maps?q=1067+Cliffwood+Drive,+Mount+Pleasant,+SC+29464"} MAP
  ), at 6:30pm. The entrance is around at the back of the building. Look for signs.
%br
%p
  Ongoing agenda items include:
  %ul
    %li Upcoming announcements
    %li A presentation about some Ruby or Ruby-related technology
    %li Open source contribution
    %li Promotion of Ruby locally
    %li Development of www.charlestonruby.org and our other projects
    %li General discussion
  There is no charge, and meetings are informal.
%br
%p
  Our code is at:
  = succeed "." do
    %a{:href => "http://github.com/charlestonrb"} github.com/charlestonrb
%br
%p
  Mailing list:
  %a{:href => "http://lists.charlestonruby.org/mailman/listinfo/discuss"} http://lists.charlestonruby.org/mailman/listinfo/discuss

