.span-one-third
  = render 'shared/sidebar'

.span9
  .alert-message.warning
    %h2 Home
  .well
    %h4{:style => 'color: green;line-height: 1.4em;letter-spacing: .1em;'}
      Meetings are held on the second Thursday of each month. Meetings are at the offices of Jack Russell Software, 1067 Cliffwood Drive, Mount Pleasant, SC 29464
      (
      %a{:href => "http://maps.google.com/maps?q=1067+Cliffwood+Drive,+Mount+Pleasant,+SC+29464"} MAP
      )
    %p{:style => 'margin-top: 10px'}
      Next meeting is #{Chronic.parse('2nd thursday next month').strftime('%m/%d/%Y')}, at 6:30pm. 
      %br
      The entrance is around at the back of the building.
.span9
  .span6
    %h5
      Ongoing agenda items include:
      %ul
        %li Upcoming announcements
        %li A presentation about some Ruby or Ruby-related technology
        %li Open source contribution
        %li Promotion of Ruby locally
        %li Development of www.charlestonruby.org and our other projects
        %li General discussion
      There is no charge, and meetings are informal.
  .span8
    %h5
      Our code is at:
      = succeed "." do
        %a{:href => "http://github.com/chsruby"} github.com/charlestonrb
    %h5
      Mailing list:
      %a{:href => "http://lists.charlestonruby.org/mailman/listinfo/discuss"} http://lists.charlestonruby.org/mailman/listinfo/discuss

