%li{:style => 'width: 100%'}
  %div{:style => 'margin:10px;height:40px;padding:10px;border-bottom: 1px solid black'}
    .pull-right
      = link_to 'Edit', edit_project_path(project), :class => 'btn primary'
    
    %h2= link_to project.name, project_path(project)
