.span-one-third
  = render 'shared/sidebar'
.span9
  .alert-message.warning
    %h2 Projects

  %ul{:style => 'margin-left:0;'}= render @projects

  = link_to "New Project", new_project_path, :class => 'btn primary'
  = link_to 'Back to homepage', root_path, :class => 'btn info'
