.required { color: red; }

body {
  margin: 0;padding: 0;
  * {margin: 0;padding: 0;}

  background-color: #ddd;

  #wrap {
    width: 720px;
    padding: 20px; margin: 50px auto;
    background: #fff; border: 1px solid #bbb;

    h1 {
      text-align: center;
      font-family: 'Crimson Text', serif;font-weight: 600;font-size: 156px;letter-spacing: -5px;
      color: #000;
      margin: 0 0 40px 0;

      img {position: relative; bottom: -39px; left: 0px;}
      span {color: #bc272b;}
    }

    h3 {
      text-align: center;
      font: 32px Helvetica;font-weight: bold;
      color: #666;
    }
  }

  .drop-shadow {
      position:relative;
      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
              box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .drop-shadow:before,
  .drop-shadow:after {
      content:"";
      position:absolute;
      z-index:-2;
  }

  .lifted {
      -moz-border-radius:4px;
           border-radius:4px;
  }

  .lifted:before,
  .lifted:after {
      bottom:15px;
      left:10px;
      width:50%;
      height:20%;
      max-width:300px;
      -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
         -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
              box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
      -webkit-transform:rotate(-3deg);
         -moz-transform:rotate(-3deg);
          -ms-transform:rotate(-3deg);
           -o-transform:rotate(-3deg);
              transform:rotate(-3deg);
  }

  .lifted:after {
      right:10px;
      left:auto;
      -webkit-transform:rotate(3deg);
         -moz-transform:rotate(3deg);
          -ms-transform:rotate(3deg);
           -o-transform:rotate(3deg);
              transform:rotate(3deg);
  }

  #user_nav {
    float: right;
  }
  #flash_notice {
    float: left;
  }
  .clear {clear: both;}
}
