!!!
%html
  %head
    %title Charleston Ruby
    %link{:href => "http://fonts.googleapis.com/css?family=Crimson+Text:regular,regularitalic,600,600italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap.drop-shadow.lifted
      .notice=notice
      #header
        %h1
          %img{:src => '/assets/logo.gif', :alt => ''}
          chs<span>ruby</span>
      = yield
