.span-one-third
  = render 'shared/sidebar'
.span9
  .alert-message.priority
    %h2 Members
  %ul{:style => 'margin-left:0;'}= render @members

  = link_to 'Back to homepage', root_path, :class => 'btn info'